<event name="VehicleTransitBus">
    <nominal>1</nominal>
    <min>1</min>
    <max>1</max>
    <lifetime>3888000</lifetime>
    <restock>0</restock>
    <saferadius>100</saferadius>
    <distanceradius>200</distanceradius>
    <cleanupradius>100</cleanupradius>
    <flags deletable="1" init_random="0" remove_damaged="1"/>
    <position>fixed</position>
    <limit>custom</limit>
    <active>1</active>
    <children>
        <child lootmax="0" lootmin="0" max="1" min="1" type="TransitBus"/>
    </children>
</event>
